<form id="new_supplier" action="update" method="get">
  <h3>Enter supplier details</h3>
  <p>Name:  <input type="text" name="supplier[supplier_name]" value="<%=@supplier.supplier_name%>"/></p>
  <p>Address:  <input type="text" name="supplier[supplier_address]" value="<%=@supplier.supplier_address%>" /></p>
  <p>City:  <input type="text" name="supplier[supplier_city]" value="<%=@supplier.supplier_city%>" /></p>
  <input type="submit" />
</form>