<form id="new_supplier" action="create" method="post">
  <h3>Enter supplier details</h3>
  <p>Name:  <input type="text" name="supplier[supplier_name]" /></p>
  <p>Address:  <input type="text" name="supplier[supplier_address]" /></p>
  <p>City:  <input type="text" name="supplier[supplier_city]" /></p>
  <input type="submit" />
</form>